<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link rel="stylesheet" href="static/css/adminLogin.css">
</head>
<body>
<div class="login-page">
  <div class="form">
  	<h1>Admin Login</h1>
    <form class="login-form" method="POST" action="/adminLogin">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>LOGIN</button>
    </form>
  </div>
</div>
</body>
<script type="text/javascript">
	$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
</html>